<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>从小就很帅</string>
		<key>text</key>
		<string>!!!!!!!!!!!!!~~~~~~~~~~~~~~~~~~~~~~~~!!!!!!!!!!!!!!!!!!!!!!!!!!!!~~~~~app大卖！！！！！！！！！！！！～～～～～～～～～～～～～～</string>
		<key>icon</key>
		<string>icon_01</string>
		<key>picture</key>
		<string>cbpic00.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>从小就很帅</string>
		<key>text</key>
		<string>!!!!!!!!!!!!!~~~~~~~~~~~~~~~~~~~~~~~~!!!!!!!!!!!!!!!!!!!!!!!!!!!!~~~~~app大卖！！！！！！！！！！！！～～～～～～～～～～～～～～</string>
		<key>icon</key>
		<string>icon_01</string>
	</dict>
	<dict>
		<key>name</key>
		<string>从小就很帅</string>
		<key>text</key>
		<string>!!!!!!!!!!!!!~~~~~~~~~~~~~~~~~~~~~~~~!!!!!!!!!!!!!!!!!!!!!!!!!!!!~~~~~app大卖！！！！！！！！！！！！～～～～～～～～～～～～～～</string>
		<key>icon</key>
		<string>icon_01</string>
		<key>picture</key>
		<string>cbpic00.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>从小就很帅</string>
		<key>text</key>
		<string>!!!!!!!!!!!!!~~~~~~~~~~~~~~~~~~~~~~~~!!!!!!!!!!!!!!!!!!!!!!!!!!!!~~~~~app大卖！！！！！！！！！！！！～～～～～～～～～～～～～～</string>
		<key>icon</key>
		<string>icon_01</string>
	</dict>
	<dict>
		<key>name</key>
		<string>从小就很帅</string>
		<key>text</key>
		<string>!!!!!!!!!!!!!~~~~~~~~~~~~~~~~~~~~~~~~!!!!!!!!!!!!!!!!!!!!!!!!!!!!~~~~~app大卖！！！！！！！！！！！！～～～～～～～～～～～～～～</string>
		<key>icon</key>
		<string>icon_01</string>
		<key>picture</key>
		<string>cbpic00.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>从小就很帅</string>
		<key>text</key>
		<string>!!!!!!!!!!!!!~~~~~~~~~~~~~~~~~~~~~~~~!!!!!!!!!!!!!!!!!!!!!!!!!!!!~~~~~app大卖！！！！！！！！！！！！～～～～～～～～～～～～～～</string>
		<key>icon</key>
		<string>icon_01</string>
	</dict>
	<dict>
		<key>name</key>
		<string>从小就很帅</string>
		<key>text</key>
		<string>!!!!!!!!!!!!!~~~~~~~~~~~~~~~~~~~~~~~~!!!!!!!!!!!!!!!!!!!!!!!!!!!!~~~~~app大卖！！！！！！！！！！！！～～～～～～～～～～～～～～</string>
		<key>icon</key>
		<string>icon_01</string>
	</dict>
	<dict>
		<key>name</key>
		<string>从小就很帅</string>
		<key>text</key>
		<string>!!!!!!!!!!!!!~~~~~~~~~~~~~~~~~~~~~~~~!!!!!!!!!!!!!!!!!!!!!!!!!!!!~~~~~app大卖！！！！！！！！！！！！～～～～～～～～～～～～～～</string>
		<key>icon</key>
		<string>icon_01</string>
		<key>picture</key>
		<string>cbpic00.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>从小就很帅</string>
		<key>text</key>
		<string>!!!!!!!!!!!!!~~~~~~~~~~~~~~~~~~~~~~~~!!!!!!!!!!!!!!!!!!!!!!!!!!!!~~~~~app大卖！！！！！！！！！！！！～～～～～～～～～～～～～～</string>
		<key>icon</key>
		<string>icon_01</string>
		<key>picture</key>
		<string>cbpic00.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>从小就很帅</string>
		<key>text</key>
		<string>!!!!!!!!!!!!!~~~~~~~~~~~~~~~~~~~~~~~~!!!!!!!!!!!!!!!!!!!!!!!!!!!!~~~~~app大卖！！！！！！！！！！！！～～～～～～～～～～～～～～</string>
		<key>icon</key>
		<string>icon_01</string>
		<key>picture</key>
		<string>cbpic00.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>从小就很帅</string>
		<key>text</key>
		<string>!!!!!!!!!!!!!~~~~~~~~~~~~~~~~~~~~~~~~!!!!!!!!!!!!!!!!!!!!!!!!!!!!~~~~~app大卖！！！！！！！！！！！！～～～～～～～～～～～～～～</string>
		<key>icon</key>
		<string>icon_01</string>
	</dict>
	<dict>
		<key>name</key>
		<string>从小就很帅</string>
		<key>text</key>
		<string>!!!!!!!!!!!!!~~~~~~~~~~~~~~~~~~~~~~~~!!!!!!!!!!!!!!!!!!!!!!!!!!!!~~~~~app大卖！！！！！！！！！！！！～～～～～～～～～～～～～～</string>
		<key>icon</key>
		<string>icon_01</string>
		<key>picture</key>
		<string>cbpic00.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>从小就很帅</string>
		<key>text</key>
		<string>!!!!!!!!!!!!!~~~~~~~~~~~~~~~~~~~~~~~~!!!!!!!!!!!!!!!!!!!!!!!!!!!!~~~~~app大卖！！！！！！！！！！！！～～～～～～～～～～～～～～</string>
		<key>icon</key>
		<string>icon_01</string>
		<key>picture</key>
		<string>cbpic00.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>从小就很帅</string>
		<key>text</key>
		<string>!!!!!!!!!!!!!~~~~~~~~~~~~~~~~~~~~~~~~!!!!!!!!!!!!!!!!!!!!!!!!!!!!~~~~~app大卖！！！！！！！！！！！！～～～～～～～～～～～～～～</string>
		<key>icon</key>
		<string>icon_01</string>
	</dict>
	<dict>
		<key>name</key>
		<string>从小就很帅</string>
		<key>text</key>
		<string>!!!!!!!!!!!!!~~~~~~~~~~~~~~~~~~~~~~~~!!!!!!!!!!!!!!!!!!!!!!!!!!!!~~~~~app大卖！！！！！！！！！！！！～～～～～～～～～～～～～～</string>
		<key>icon</key>
		<string>icon_01</string>
		<key>picture</key>
		<string>cbpic00.png</string>
	</dict>
</array>
</plist>
